<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sublist_type.name %>
</p>

<%= link_to 'Edit', edit_sublist_type_path(@sublist_type) %> |
<%= link_to 'Back', sublist_types_path %>
